<div>
    <div class="log-nav">
     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-justify arrow" viewBox="0 0 16 16">
         <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg>

    <p>TRANSATIONS</p>

    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
  </div>

    <div class="main-list">
        <ul>
            <% @groupe.each  do |category| %>
                <li class="list-item">
                    <img src=<%=category.icon%> class="images"  alt="Girl in a jacket" width="80" height="80">
                    <div  class="sub-item">
                        <div>
                            <p class="sub-item-text"><%= link_to category.name , "groupe/#{category.id}"%></p>
                            <p class="sub-item-text"><%= category.created_at %></p>
                        </div>
                        <p class="price">$34.00</p>
                    </div>
                </li>
            <%end%>
        <ul>
    </div>
    <button class="btn-tra "><%= link_to "Create Category" , new_groupe_path %></button>
</div>