<%= form_for :Groupe , url:groupe_index_path do |f| %>
  <div class="log-nav">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" id="backe" height="16" fill="currentColor" class="bi bi-arrow-left arrow" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
     <p>New Category</p>

     <div class="actions">
      <%= f.submit "Save" %>
    </div>
  </div>

  <div class="field">
    <%= f.text_field :icon, autofocus: true, placeholder: 'Icon Url' %>
  </div>

  <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: 'Name' %>
  </div>

<% end %>

